params {
  publishDir = "results"

  // input bam files
  bam_g1 = null
  bam_g2 = null

  // reference
  gtf = null

  is_single_end = false
  readLength = null
  nthread = 1
  out_dir = null
  lib_type = "fr-unstranded"
  variable_read_length = false
  anchorLength = false
  tstat = 1
  cstat = "0.0001"
  statoff = false
  paired_stats  = false
  darts_model = false
  darts_cutoff = "0.05"
  novelSS = false
  mil = 50
  mel = 500
  allow_clipping = false
  individual_counts = false
  machine_mem_gb = 4
  rmats_version = "v4.3.0"
}

process {
  container = "xinglab/rmats:${params.rmats_version}"

  // Process-specific resource requirements
  withLabel: mid_memory {
    cpus = 1
    memory = "${params.machine_mem_gb}.GB"
  }
  withLabel: tera_memory {
    cpus = params.nthread
    memory = "${params.machine_mem_gb}.GB"
  }
}

docker.enabled = true
// singularity.enabled = true
